html { 
/* will center horizontally only | omiting = html, body { height: 100%; } */
    display: table;
    margin: auto; 
}
body {
    text-align: center;
    max-width: max-content; /*redundant?*/
    margin: auto; /*redundant?*/
    background-color: aquamarine;
    -webkit-text-fill-color: rgb(31, 74, 77);
    text-shadow: 0px 0px 2px #024a52; /*makes a blur effect*/
}
/* creates an "animation" that pops the box off the screen when hovered over */
/* I didnt tell it what to do between animations after a physical click, so it 
gets stuck in its popped out phase for a bit which is funny so i left it in */
audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(62, 16, 189, 0.555);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.30);
}

audio {
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:10px 10px 10px 10px ;
animation-delay: 1.5s;
}

p, label {
    font-size: larger;
    text-shadow: none;
}

fieldset {
    border: 4px solid rgb(114, 88, 185);
    margin: 30px;
    border-radius: 1em;
}