body {
    font-size: 100%; font-family: palatino, serif
}

h1 {
    font-size: 2.5em; font-family:  Lucida Handwriting, 'Lucida Sans', 'Lucida Grande', sans-serif;
}

h2 {
    font-size: 2.5em; font-family:  Lucida Handwriting, 'Lucida Sans', 'Lucida Grande', sans-serif;
}

p {
    font-size: 15px; font-family: palatino, serif
}