/* oh my, coming back to this is like coming back to the site a plane crash, oh dear | NOT DRY AT ALL */

html { /* just put this part in for funsies */
    font-family: sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    /* absolute tragedy that i put font styling into the body oh my! */
    font-size: 18px;
    font-family: palatino, serif;
    line-height: normal;
    color: rgb(90, 11, 11);
    background-color: rgba(81, 102, 87, 0.712);
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* '.' = class */
.text-center {
    text-align: center;
}

.center-object {
    display: flex;
    justify-content: center;
}

iframe {
    display: block;
    margin: auto;
}

.heading-padding {
    padding-bottom: 40px;
}

h1, h2, h3 {
    font-size: 3em;
    font-family: Lucida Handwriting, 'Lucida Sans', 'Lucida Grande', sans-serif;
}

h4, h5 {
    font-size: 1.7em;
    font-family: Lucida Handwriting, 'Lucida Sans', 'Lucida Grande', sans-serif;
    text-align: center;
}

h1 {
    line-height: 50px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #E91C1C;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.726);
}

h1::after {
    /* THIS MAKES THE UNDERLINE OCCUR */
    display: block;
    content: " ";
    height: 3px;
    width: 950px;
    background: #E91C1C;
    margin: 5px auto 40px;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.5);
}

h2 {
    line-height: 50px;
    color: #E91C1C;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.726);
}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #d12020;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.726);
}

h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 2px 1px 1px rgba(197, 82, 82, 0.658);
}

footer {
    display: block;
    text-align: center;
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/*==================================
        BEGIN NEW NAVBAR 
===================================*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
/* END NAVBAR */



/*===============================================================================================
 STYLING FOR THE LIGHT BOX  |  WILL PROLLY NEED TO REDO HEAPS OF THE REPEATS/CHAOS ABOVE AS I GO 
=================================================================================================*/
.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* equal and aligned floating colummns */
.column {
    float: left;
    width: 25%;
}

/* LIGHTBOX BackGround */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* LIGHTBOX CONTENT */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* BUTTON TO EXIT LIGHTBOX POPUP */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, 
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* SLIDES HIDDEN BY DEFAULT */
.vikSlides {
    display: none;
}

/* FLIP BUTTONS TO GO FORWARD AND BACK */
.prev, 
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* ENSURE NEXT BUTTON IS AFIXED ON RIGHT */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* MOUSE HOVER WILL ADD TRANSLUCENT BG */
.prev:hover, 
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* NUMBER OVERLAY TEXT */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

/* CAPTION TEXT OVERLAY */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.controlSml {
    opacity: 0.6;
}

.active, 
.controlSml:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/*====================================================
    CONTACT STYLES
======================================================*/
.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    /* border-radius = CREATES ROUNDED CORNERS */
    margin: 0px auto;
    background-color: rgba(27, 19, 5, 0.658);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

/* STYLES THE HTML RSVP "contract" SECTION */
#contract {
    background-color: #4e4d4da8;
}

.reservation {
    width: 50%;
    padding: 7px;
    /* ROUNDS THE EDGES OF THE CONTAINERS/BORDERS */
    border-radius: 7px;
    margin: 0px auto;
    background-color: rgba(15, 44, 9, 0.425);
    /* GIVES THE RSVP AN OUTER SHADOW */
    box-shadow: -2px -1.5px 1px 0px rgba(0, 0, 0, 1), 1px 2px 10px 0 rgba(58, 4, 4, 0.884);
}

.reservation h2 {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    height: auto;
    color: #13161B;
    text-shadow: 2px 1px 1px rgba(119, 51, 51, 0.932);
    font-weight: 900;
    font-size: 1.3em;
    letter-spacing: 0pt;
    word-spacing: 1pt;
}

.reservation h2 span {
    width: 70%;
    text-align: center;
    /* SHORTCUT TO ALIGN THE H2 ELEMENT IN THE CENTER */
    margin: 0 auto;
    color: #13161B;
    font-weight: 900;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: .4pt;
    word-spacing: .3pt;
}

.rsvp-text {
    text-align: center;
}

.reservation p {
    color: #13161B;
    width: 50%;
    margin: 0 auto;
    font-weight: 800;
    font-size: 1.0em;
}

/* FOR THE BACKGROUND */
.reservation form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #b9130d;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #272626;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(94, 18, 18);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Raleway', sans-serif;
}

/* FOR INPUT TAGS WITHIN RSVP */
.reservation input[type="text"] {
    font-size: 16px;
    outline-color: #ec0b0b;
    font-weight: 600;
    color: #e60606;
    padding: 2% 1% 2% 7%;
    width: 87%;
    border-top: 1px solid #424549;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #424549;
    margin: 20px 1em;
    border-radius: 7px;
    background: #13161B;
    box-shadow: inset 3px 3px 3px 3px rgba(5, 5, 5, 0.15);
    font-family: 'Raleway', sans-serif;
}

.reservation input[type="text"]:hover {
    /* WHEN TEXTED BOX IS HOVERED ACTIVATE THE 'box-shadow' */
    box-shadow: 0 0 18px rgba(196, 5, 5, 0.925);
}

.form-spacer {
    /* SPACING CONTROL FOR TOP/BOTTOM AND LEFT */
    padding: 30px 39px;
    /* original padding: 30px 39px */
}

.terms {
    margin: 30px 1px 0 0;
    margin-top: 8%;
    padding-left: 52px;
    font-size: 14px;
    line-height: 5px;
    color: #000;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-stretch: expanded;
    position: relative;
    display: inline;
    float: right;
}

.terms:hover {
    color: rgb(231, 43, 43);
    text-decoration: underline;
}

/* SUBMIT BUTTON */
.submit input[type="submit"] {
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;
    font-family: Lucida Handwriting,'Raleway', sans-serif;
    margin: 0px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 28px;
    /* TRASITION PERFORMS THE ANIMATION EFFECT WHEN YOU MOUSE (HOVER) OVER IT */
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 8px;
    background-color: #020a13;
    box-shadow: 1px 1px 4px 0 rgba(214, 6, 6, 0.678);
}

.submit input[type="submit"]:hover {
    color: #440303;
    background-color: #8D8E8F;
    box-shadow: inset 1px 2px 15px 0 rgba(156, 3, 3, 0.897);
}